.services__card-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 43px 0 31px;
}
