.services__text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
  margin: 0;
  padding: 0;
}
