.footer__submit {
  height: 52px;
  background-color: #161616;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.footer__submit:hover {
  opacity: 0.7;
}
