.header__subtitle {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 0 43px;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .header__subtitle {
    max-width: 300px;
    line-height: 1.5;
    margin: 0 auto 43px;
  }
}
